{%- doc -%}
  This snippet is used to render the quantity selector for a product.
  It is used in the product page and the cart page.

  @param {object} product - the product to render the quantity selector for
  @param {number} [in_cart_quantity] - the quantity in the cart to set the input value
  @param {number} [line_index] - the index of the forloop representing the line on which the quantity selector is rendered
  @param {number} [min] - the minimum quantity the input supports
  @param {string} [class] - custom class for the quantity selector, optional
  @param {boolean} [can_update_quantity] - whether the quantity can be updated, defaults to true
{%- enddoc -%}

{% liquid
  assign variant = product.selected_or_first_available_variant
%}
<quantity-selector-component
  class="quantity-selector{% if class %} {{ class }}{% endif %}"
  {% if line_index == null %}
    {{- block.shopify_attributes -}}
  {% endif %}
  ref="quantitySelectors[]"
>
  <button
    class="button quantity-minus button-unstyled"
    type="button"
    name="minus"
    on:click="/decreaseQuantity"
    ref="quantityButtons[]"
    {% if can_update_quantity == false %}
      disabled
    {% endif %}
  >
    <span class="visually-hidden">{{ 'accessibility.decrease_quantity' | t }}</span
    ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="95.695" height="86.121" viewBox="0 0 95.695 86.121">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rechteck_58" data-name="Rechteck 58" width="56.856" height="51.485" transform="translate(0 0)" fill="none" stroke="#3f9fb8" stroke-width="2"/>
    </clipPath>
    <filter id="Pfad_511" x="0" y="3.836" width="95.695" height="82.285" filterUnits="userSpaceOnUse">
      <feOffset dy="7" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="13" result="blur"/>
      <feFlood flood-opacity="0.051"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Gruppe_366" data-name="Gruppe 366" transform="translate(9.771)">
    <g id="Gruppe_357" data-name="Gruppe 357" transform="matrix(0.819, 0.574, -0.574, 0.819, 29.531, 0)" clip-path="url(#clip-path)">
      <path id="Pfad_510" data-name="Pfad 510" d="M22.866,41.126C9.956,41.32,4.344,34.281,1.4,24.5a51.483,51.483,0,0,1-1.08-5.228,16.88,16.88,0,0,1-.209-4.949A38.01,38.01,0,0,1,.733,9.861,12.921,12.921,0,0,1,8.819.9C12.5-.533,18.508-.064,22.238.974,31.624,3.585,38.972,8.125,43.4,15.682c1.837,3.139,3.185,8.64,1.5,12.931-2.445,6.222-8.445,9.362-15.127,11.363a45.88,45.88,0,0,1-4.6.941l-2.3.209" transform="translate(5.596 5.178)" fill="none" stroke="#3f9fb8" stroke-width="2" fill-rule="evenodd"/>
    </g>
    <g transform="matrix(1, 0, 0, 1, -9.77, 0)" filter="url(#Pfad_511)">
      <path id="Pfad_511-2" data-name="Pfad 511" d="M11.179-4.2H1.092V-7.484H17.787V-4.2Z" transform="translate(38.41 43.82)" fill="#3f9fb8" stroke="#3f9fb8" stroke-width="1"/>
    </g>
  </g>
</svg>

  </button>
  <input
    type="number"
    name="{% if line_index %}updates[]{% else %}quantity{% endif %}"
    value="{{ in_cart_quantity | default: 1 }}"
    min="{{ min | default: 1 }}"
    on:blur="/setQuantity"
    on:focus="/selectInputValue"
    ref="quantityInput"
    aria-label="{{ 'accessibility.quantity' | t }}"
    {% if line_index %}
      data-cart-line="{{ line_index | plus: 1 }}"
    {% endif %}
    {% if variant.quantity_rule.max %}
      max="{{ variant.quantity_rule.max }}"
    {% endif %}
    step="{{ variant.quantity_rule.increment | default: 1 }}"
    {% if can_update_quantity == false or variant.available == false %}
      disabled
    {% endif %}
  >
  <button
    class="button quantity-plus button-unstyled"
    type="button"
    name="plus"
    on:click="/increaseQuantity"
    ref="quantityButtons[]"
    {% if can_update_quantity == false %}
      disabled
    {% endif %}
  >
    <span class="visually-hidden">{{ 'accessibility.increase_quantity' | t }}</span
    ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="95.695" height="95.502" viewBox="0 0 95.695 95.502">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rechteck_58" data-name="Rechteck 58" width="56.856" height="51.485" transform="translate(0 0)" fill="none" stroke="#3f9fb8" stroke-width="2"/>
    </clipPath>
    <filter id="Pfad_511" x="0" y="0" width="95.695" height="95.502" filterUnits="userSpaceOnUse">
      <feOffset dy="7" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="13" result="blur"/>
      <feFlood flood-opacity="0.051"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Gruppe_367" data-name="Gruppe 367" transform="translate(9.771 2.773)">
    <g id="Gruppe_357" data-name="Gruppe 357" transform="matrix(0.819, 0.574, -0.574, 0.819, 29.531, 0)" clip-path="url(#clip-path)">
      <path id="Pfad_510" data-name="Pfad 510" d="M22.866,41.126C9.956,41.32,4.344,34.281,1.4,24.5a51.483,51.483,0,0,1-1.08-5.228,16.88,16.88,0,0,1-.209-4.949A38.01,38.01,0,0,1,.733,9.861,12.921,12.921,0,0,1,8.819.9C12.5-.533,18.508-.064,22.238.974,31.624,3.585,38.972,8.125,43.4,15.682c1.837,3.139,3.185,8.64,1.5,12.931-2.445,6.222-8.445,9.362-15.127,11.363a45.88,45.88,0,0,1-4.6.941l-2.3.209" transform="translate(5.596 5.178)" fill="none" stroke="#3f9fb8" stroke-width="2" fill-rule="evenodd"/>
    </g>
    <g transform="matrix(1, 0, 0, 1, -9.77, -2.77)" filter="url(#Pfad_511)">
      <path id="Pfad_511-2" data-name="Pfad 511" d="M11.179-4.2V2.41H7.7V-4.2H1.092V-7.484H7.7v-6.608h3.478v6.608h6.608V-4.2Z" transform="translate(38.41 46.59)" fill="#3f9fb8" stroke="#3f9fb8" stroke-width="1"/>
    </g>
  </g>
</svg>

  </button>
</quantity-selector-component>
